/* This file is part of Highscore. License: GPL-3.0+. */

@define-color accent_color @yellow_1;
@define-color accent_bg_color @yellow_4;
@define-color accent_fg_color alpha(black, .75);

.favorite-star {
  color: white;
  -gtk-icon-shadow: 0 1px black, 0 -1px black, 1px 0 black, -1px 0 black;
  margin: 6px;
}

.hide-stars .favorite-star {
  opacity: 0;
}

.snapshot-row {
  padding: 0;
}

.snapshot-thumbnail {
  color: rgba(255, 255, 255, 0.5);
  background: rgba(0, 0, 0, .5);
  box-shadow: 0 0 0 1px rgba(0, 0, 0, .75);
  border-radius: 6px;
}

.snapshot-name {
  font-size: large;
}

.snapshot-date {
  font-size: small;
}

.collection-icon-view {
  transition: opacity 250ms;
}

.collection-icon-view:disabled {
  filter: opacity(.2);
  background: none;
}

gamescollectionsmainpage flowboxchild stack {
  background-color: @card_bg_color;
  border-radius: 12px;
}

gamescollectionsmainpage grid {
  min-width: 116px;
  min-height: 116px;
  padding: 6px;
}

gamescollectionsmainpage.large grid {
  min-width: 244px;
  min-height: 244px;
}

gamescollectionsmainpage grid widget {
  background-color: @card_bg_color;
  border-radius: 6px;
}

gamesgamespage flowboxchild check,
gamescollectionsmainpage flowboxchild check {
  margin: 6px;
}

gamesgamethumbnail {
  background-color: @card_bg_color;
  border-radius: 6px;
}

gamesgamethumbnail.cover {
  background-color: black;
  box-shadow: none;
}

gamesgamespage gamesgamethumbnail {
  min-width: 128px;
  min-height: 128px;
  border-radius: 12px;
}

gamesgamespage.large gamesgamethumbnail {
  min-width: 256px;
  min-height: 256px;
}

gamesgamespage flowboxchild,
gamescollectionsmainpage flowboxchild {
  background: none;
  outline: none;
}

gamesgamespage flowboxchild > box > overlay,
gamescollectionsmainpage flowboxchild > box > overlay {
  transition-property: outline, outline-width, outline-offset, outline-color;
  transition-duration: 300ms;
  animation-timing-function: ease-in-out;
  border-radius: 12px;

  outline: 0 solid transparent;
  outline-offset: 1px;
}

gamesgamespage flowboxchild:selected > box > overlay,
gamescollectionsmainpage flowboxchild:selected > box > overlay {
  outline: 5px solid alpha(currentColor, .3);
}

gamesgamespage flowboxchild:selected:focus:focus-visible > box > overlay,
gamescollectionsmainpage flowboxchild:selected:focus:focus-visible > box > overlay {
  outline-color: @accent_bg_color;
}

gamesflashbox {
  background: rgba(255, 255, 255, 0.5);
}

/* Styles from libhandy example, this should be kept in sync with this:
 * https://source.puri.sm/Librem5/libhandy/blob/master/examples/style.css
 */

.list-icon {
  opacity: 0.7;
}

window.fullscreen {
  background: black;
}

window.fullscreen headerbar {
  color: @headerbar_fg_color;
  background: alpha(@headerbar_bg_color, .75);
}

window.fullscreen headerbar:backdrop {
  background: alpha(@headerbar_backdrop_color, .75);
}

flap.titlebar-box dimming,
flap.titlebar-box border,
flap.titlebar-box outline,
flap.titlebar-box shadow {
  background: none;
  min-width: 0;
  min-height: 0;
}
